.content{
    display: flex;
    flex-direction: column;
}
.welcome{
    text-align: center;
    font-family: Arial, Sans-Serif;
    font-size: 30px;
}
.cat{
    width: 50%;
    margin: 0 auto;
}
.btn{
    border: none;
    border-radius: 10px;
    margin: 10px auto 5px auto;
    display: block;
    background: #1f1f1f;
    color: whitesmoke;
    /*width: 60%;*/
    /*height: 70px;*/
    font-size: 18px;
    padding: 20px 110px;
    font-family: Arial, Verdana, Sans-Serif;
} .btn:hover{
    background: #333333;
    color: whitesmoke;
  }
  #change{
      margin-top: 5px;
  }
