.content{
    display: flex;
    flex-direction: column;
}
.cat{
    width: 50%;
    margin: -8px auto;
}
#btn{
    border: none;
    border-radius: 10px;
    margin: 15px auto;
    display: block;
    background: #1f1f1f;
    color: whitesmoke;
    /*width: 60%;*/
    /*height: 70px;*/
    font-size: 18px;
    padding: 20px 110px;
    font-family: Arial, Verdana, Sans-Serif;
} #btn:hover{
    background: #333333;
    color: whitesmoke;
  }
